*.pyc
db.sqlite3
credentials.py
*.jpg
settings.py
packery-mode.pkgd.min.js
/static_prod/
gifcache/static/js/jPages.min.js
gifcache/static/js/jquery-ui.min.js
gifcache/static/js/packery-mode.pkgd.min.js
jquery-color.min.js