body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	color: #4d4d4d;
	font-family: 'Quicksand', sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

hr {
	background-color: #498FBD;
	border: 0;
	height: .25em;
}

.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.button-selected {
	top: 4px;
	background-color: #498FBD !important;
	-webkit-box-shadow: 0px 2px 0px #38749b !important;
	-moz-box-shadow: 0px 2px 0px #38749b !important;
	box-shadow: 0px 2px 0px #38749b !important;
}

.delete-selected {
	top: 4px;
	background-color: #ff4e4e !important;
	-webkit-box-shadow: 0px 2px 0px #ff1b1b !important;
	-moz-box-shadow: 0px 2px 0px #ff1b1b !important;
	box-shadow: 0px 2px 0px #ff1b1b !important;
}

/* Home Page Styles *********************************************************/
.wrapper {
	position: relative;
}

.container {
}

#gif-grids {
	margin: 0 auto;
}

#logo {
	text-align: center;
	font-size: 4em;
	letter-spacing: .25em;
	border-bottom: .15em solid #99d0e0;
}

#home-links {
	margin: 0 auto;
	width: 30em;
	text-align: center;
}

#home-links a {
	margin: 1em;
	font-size: 1.5em;
	border-bottom: .15em solid #6BB0C4;
	color: #6BB0C4;
}

#home-links a:hover {
	color: #2b5d6b;
	border-bottom: .15em solid #2b5d6b;
	font-size: 1.75em;
}

.message {
	text-align: center;
}

form {
	overflow: hidden;
}

input {
	display: block;
	margin: .5em auto;
	padding: .25em;
	border: .15em solid #25B972;
	font-family: 'Quicksand', sans-serif;
	border-radius: .25em;
}

label {
	display: block;
	margin-left: 1em;
	margin-bottom: -.75em;
}

.gif-form {
	position: relative;
}

.gif-form input {
	margin: .75em auto;
	width: 90%;
}

.gif-form-title {
	position: relative;
	margin: 1em 0;
	font-size: 1.2em;	
	color: #25B972;
	border-bottom: .1em solid #25b972;
}

.gif-form-title div {
	position: absolute;
	padding: 0 .25em;
	z-index: 2;
	top: -.65em;
	background-color: #e6e6e6;
}

.helptext {
	margin-left: 1em;
}

.submit {	
	position: relative;
	background-color: #498FBD;
	padding: .25em;
	color: white;
	border: none;
	font-size: 1em;
	border-radius: .2em;
	-webkit-box-shadow: 0px 6px 0px #38749b;
	-moz-box-shadow: 0px 6px 0px #38749b;
	box-shadow: 0px 6px 0px #38749b;
}

.submit:active {
	top: 4px;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.submit:hover {
	cursor: pointer;
	background-color: #72ADD3;
	-webkit-box-shadow: 0px 6px 0px #4990bd;
	-moz-box-shadow: 0px 6px 0px #4990bd;
	box-shadow: 0px 6px 0px #4990bd;

}

.warning {
	background-color: #ff6767 !important;
	color: white;
	-webkit-box-shadow: 0px 6px 0px #ff4e4e !important;
	-moz-box-shadow: 0px 6px 0px #ff4e4e !important;
	box-shadow: 0px 6px 0px #ff4e4e !important;
}

.warning:hover {
	background-color: #ff3535 !important;
	-webkit-box-shadow: 0px 6px 0px #ff0202 !important;
	-moz-box-shadow: 0px 6px 0px #ff0202 !important;
	box-shadow: 0px 6px 0px #ff0202 !important;
}

.warning:active {
	-webkit-box-shadow: 0px 2px 0px #ff3535;
	-moz-box-shadow: 0px 2px 0px #ff3535;
	box-shadow: 0px 2px 0px #ff3535;
}

.warning i {
	color: #ff1b1b !important;
}

.cancel {
	margin: .25em auto;
	width: 83%;
	padding: .25em;
	text-align: center;
	font-size: .8em;
}

.hidden {
	display: none !important;
}

/* Profile View Styles *********************************************************/
.nav {
	position: relative;
	z-index: 6;
	left: 0;
	top: 0;
	width: 100%;
	height: 3em;
	/* SVG as background image (IE9/Chrome/Safari/Opera) */ 
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczNDkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzI1Qjk3MiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzFEOEY1OCIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzM0OSkiIC8+Cjwvc3ZnPg==);
	box-shadow: 1px 5px 15px -5px #000;
}

.nav-logo {
	position: relative;
	top: 1em;
	margin-left: 1em;
}

#gif {
	position: absolute;
	z-index: 2;
	top: 0.3em;
	left: 0.1em;
}

#cache {
	position: absolute;
	top: 0.2em;
	left: 2em;
	font-family: 'Lobster', cursive;
}

.nav-logo-title {
	font-size: 2em;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

.nav-logo-img {
	position: absolute;
	top: -0.75em;
	left: 1.25em;
}

.nav-logo-img img {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	border: .3em solid white;
	box-shadow: 1px 5px 15px -5px #000;
}

.nav-links {
	position: absolute;
	right: 1em;
	top: .5em;
	font-size: 1.3em;
}

.nav-links a {
	margin: 0 .25em;
	color: white;
}

.nav-links a:hover {
	text-shadow: 1px 1px 3px #000;
}

.profile-nav-link {
	display: inline-block;
	color: white;
	height: 4em;
}

.profile-nav-link:hover {
	cursor: pointer;
	text-shadow: 1px 1px 3px #000;
}

.profile-nav-link:hover > .profile-nav-extra {
	display: block;
	text-shadow: none;
}

.profile-nav-extra {
	display: none;
	position: absolute;
	padding: .5em;
	top: 2.5em;
	right: -1em;
	/* SVG as background image (IE9/Chrome/Safari/Opera) */ 
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczNDkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzI1Qjk3MiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzFEOEY1OCIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzM0OSkiIC8+Cjwvc3ZnPg==);
	font-size: .75em;
	width: 6em;
	box-shadow: 1px 5px 15px -5px #000;
}

.profile-nav-extra a {
	margin-bottom: 1em;
}

.nav-profile {
	position: absolute;
	top: 4.5em;
	right: 1em;
	color: white;
	font-size: 1.3em;
}

.profile-info {	
	position: relative;
	margin: 2em auto;
	padding: 1em;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 3px #000;
	/* SVG as background image (IE9/Chrome/Safari/Opera) */ 
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3MDMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjNzJBREQzIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjNEI5NkM3IiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNzAzKSIgLz4KPC9zdmc+);
	box-shadow: 0 2em 2.3em -2.25em #000;
}

.profile-avatar {
	display: inline-block;
}

.profile-avatar img {
	height: 8em;
	width: 8em;
	border-radius: 50%;
	border: .3em solid #FFFFFF;
	box-shadow: 1px 5px 15px -5px #000;
}

.profile-name {
	display: inline-block;
	position: relative;
	bottom: .75em;
	font-family: 'Open Sans';
	font-size: 4em;
}

.profile-stats {
	margin: 0 auto;
	margin-top: -1.25em;
}

.stat {
	display: inline-block;
	margin: 0;
	padding: 1em;
	padding-top: 0;
}

.stats-clickable:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
}

.stat-number {
	font-size: 3.25em;
}

.stat-desc {
	font-size: 1.5em;
	margin-top: -.5em;
}

.tag-nav {
	position: absolute;
	z-index: 5;
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: .75em;
	width: 15em;
	background-color: #d9d9d9;
	text-align: center;
	box-shadow: 1px 5px 15px -5px #000;
	border-radius: .25em;
}

#tag-nav {
	border-right: .15em solid white; 
	padding-right: 1em;
}

#tag-nav:hover > .tag-nav {
	display: block !important;
}

.tag-nav p {
	margin: .25em;
	color: #074C78;
}

.tag-nav .tag:hover {
	background-color: #4b96c7;
	-webkit-box-shadow: 0px 6px 0px #357caa;
	-moz-box-shadow: 0px 6px 0px #357caa;
	box-shadow: 0px 6px 0px #357caa; 
}

.add-gif-form-button {
	position: relative;
	margin: 0 auto;
	margin-bottom: 2em;
	padding: .3em .75em;
	width: 10em;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.2em;
	background-color: #25B972;
	color: white;
	border-radius: .2em;
	-webkit-box-shadow: 0px 6px 0px #1d8f58;
	-moz-box-shadow: 0px 6px 0px #1d8f58;
	box-shadow: 0px 6px 0px #1d8f58; 
}

.add-gif-form-button:hover {
	cursor: pointer;
	background-color: #1d8f58;
	-webkit-box-shadow: 0px 6px 0px #14653e;
	-moz-box-shadow: 0px 6px 0px #14653e;
	box-shadow: 0px 6px 0px #14653e;
}

.add-gif-form-button:active {
	top: 4px;
	background-color: #498FBD;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.add-gif-form {
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.add-gif-form h1 {
	position: relative;
	color: #25B972;
}

.add-gif-form form {
	position: relative;
	width: 20em;
	height: 20em;
	margin: 0 auto;
	padding: 1.5em;
	top: 20%;
	background-color: #d9d9d9 !important;
	box-shadow: 1px 5px 15px -5px #000;
	border-radius: .25em;
	text-align: center;
}

.add-form-input {
	height: 2em;
	line-height: 2em;
	font-size: 1.3em;
}

.add-gif-form form .submit {
	display: inline-block;
	width: 6em;
	text-align: center;
}

#cancel-add {
	display: inline-block;
	padding: .25em;
	width: 6em;
	text-align: center;
	background-color: #ff6767;
	color: white;
	-webkit-box-shadow: 0px 6px 0px #ff4e4e;
	-moz-box-shadow: 0px 6px 0px #ff4e4e;
	box-shadow: 0px 6px 0px #ff4e4e;
	border-radius: .25em;
}

#cancel-add:hover {
	cursor: pointer;
	background-color: #ff1b1b;
	-webkit-box-shadow: 0px 6px 0px #e70000;
	-moz-box-shadow: 0px 6px 0px #e70000;
	box-shadow: 0px 6px 0px #e70000;
}

#all-gif-grid, #tagged-gif-grid {
	margin: 0 auto;
}

.gif-grid {
	position: relative;
	margin: .25em;
	padding: .25em;
}

.tag-group {
	display: inline-block;
	position: relative;
	margin: .5em;
	padding: 1em;
	border: .15em solid #25B972;
	border-radius: 1em;
}

.tag-title {
	position: absolute;
	padding: 0 .25em;
	top: -.75em;
	background-color: #f2f2f2;
	font-size: 1.25em;
	color: #25B972;
}

.tag-settings-icon {
	position: absolute;
	padding: 0 .1em;
	top: -.5em;
	right: .35em;
	color: #25B972;
	background-color: #F2F2F2;
}

.tag-settings-icon:hover {
	cursor: pointer;
	color: #1d8f58;
}

.tag-settings-icon-clicked {
	color: #1d8f58 !important;
}

.gif-grid p {
	font-family: 'Open Sans', sans-serif;
}

.gif-grid i {
	margin: 0;
	display: inline-block;
	font-size: 1.25em;
}

.edit-icon {
	display: inline-block;
	position: absolute;
	top: 5.75em;
	left: .75em;
	width: 3em;
	color: #7ae4b1;
	text-shadow: 1px 1px 3px #000;
}

.edit-icon:hover {
	cursor: pointer;
	color: #7ae4b1;
}

.edit-icon-desc {	
	display: inline-block;
	position: relative;
	bottom: .2em;
}

.delete-icon {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	color: #ff6767 !important;
	text-shadow: 1px 1px 3px #000;
}

.delete-icon:hover {
	cursor: pointer;
	color: #ff3434 !important;
}

.gif-grid-element {	
	position: relative;
	display: inline-block;
	margin-top: .25em;
	padding: .5em;
	width: 10em;
	min-height: 8em;
	background-color: #e6e6e6;
	box-shadow: 1px 5px 15px -5px #000;
	border-radius: 1em;
}

.gif-grid-element:hover {
	z-index: 2;
	-ms-transform: scale(1.2);
	-ms-webkit: scale(1.2);
	transform: scale(1.2);
}

.gif-grid-element:active {	
	top: 4px;
}

.focused {
	background-color: #d9d9d9 !important;
	z-index: 2;
	-ms-transform: scale(1.2);
	-ms-webkit: scale(1.2);
	transform: scale(1.2);
}

.img-wrapper {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 150px;	
	box-shadow: 1px 5px 15px -5px #000;
}

.img-wrapper img {
	width: 100%;
	min-height: 100px;
	max-height: 100px;
}

.gif-grid-thumbnail {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: inherit;
	box-shadow: 1px 5px 15px -5px #000;
}

.gif-grid-thumbnail:hover {
	cursor: pointer;
}

.gif-label {
	position: relative;
	margin: 0;
	margin-top: 6.25em;
	color: #498FBD;
	font-size: 1.15em
}

.gif-date {
	display: none;
	position: relative;
	font-size: .6em !important;
	text-align: center;	
}

.tags {
	position: relative;
	margin: 1.5em auto;
}

.tags i {
	display: inline-block;
	color: #498FBD;
	font-size: 1em;
}

.delete-tag:hover {
	color: #ff6767 !important;
}

.tag {
	display: inline-block;	
	margin: .3em;
	padding: .35em;
	background-color: #72ADD3;
	color: white;	
	-webkit-box-shadow: 0px 6px 0px #4b96c7;
	-moz-box-shadow: 0px 6px 0px #4b96c7;
	box-shadow: 0px 6px 0px #4b96c7;
	border-radius: 1em 1em 0 1em;
}

.tag i:hover {
	cursor: pointer;
}

.tag-name {
	display: inline-block;
}

.add-tags {
	margin: .75em auto;	
	text-align: center;
}

.add-tags input {	
	display: inline-block;
	width: 80%;
}

.add-tags i {
	display: inline-block;
	color: #70DAA7;
}

.add-tags-title {
	display: inline-block;
	position: relative;
	margin: .5em;
	padding: .3em .75em;
	background-color: #25B972;
	color: white;
	border-radius: .2em;
	-webkit-box-shadow: 0px 6px 0px #1d8f58;
	-moz-box-shadow: 0px 6px 0px #1d8f58;
	box-shadow: 0px 6px 0px #1d8f58;
}

.add-tags-title:hover {
	cursor: pointer;
	background-color: #1d8f58;
	-webkit-box-shadow: 0px 6px 0px #14653e;
	-moz-box-shadow: 0px 6px 0px #14653e;
	box-shadow: 0px 6px 0px #14653e;
}

.add-tags-title:hover > i, .add-tags-title:active > i {
	color: #14653e;
}

.add-tags-title:active, .add-tags-selected {
	top: 4px;
	background-color: #498FBD;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.add-tags-selected i {
	color: #38749b;
}

.add-tags-selected:hover {
	cursor: pointer;
	background-color: #3f82ae;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.add-tags-selected:hover > i {
	color: #38749b;
}

.add-tag-field {	
	position: relative;
	top: .12em;
	width: 60% !important;
	height: 2.15em;
}

.add-tag-submit {
	display: inline-block;
	position: relative;
	margin: .25em;
	background-color: #72ADD3;
	color: white;
	padding: 0.45em;
	font-size: .75em;
	-webkit-box-shadow: 0px 3px 0px #38749b;
	-moz-box-shadow: 0px 3px 0px #38749b;
	box-shadow: 0px 3px 0px #38749b;
	border-radius: .2em;
}

.add-tag-submit:hover {
	cursor: pointer;
	background-color: #38749b;
	-webkit-box-shadow: 0px 3px 0px #2a5876;
	-moz-box-shadow: 0px 3px 0px #2a5876;
	box-shadow: 0px 3px 0px #2a5876;
}

.add-tag-submit:active {
	top: 4px;
	-webkit-box-shadow: 0px 1px 0px #2a5876;
	-moz-box-shadow: 0px 1px 0px #2a5876;
	box-shadow: 0px 1px 0px #2a5876;
}

.tags-to-be-added {
	margin: 1em auto;
	margin-bottom: 0;
	border: .1em solid #498FBD;
	border-radius: .2em;
}

.tags-to-be-added-title {
	padding: .2em;
	background-color: #498FBD;
	color: white;
}

.tag-to-be-added {
	display: block;
	margin: .25em;	
}

.tag-to-be-added i {
	color: #72ADD3;
}

.tag-to-be-added i:hover {
	cursor: pointer;
}

.tag-to-be-added div {
	display: inline-block;
	margin-left: .25em;
}

.tag-to-be-added-value {
	color: #074C78;
}

/* Tag Manager *****************************************************************/
.tag-manager {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin: 0 auto;
	width: 100%;
}

.tag-manager-options {
	position: absolute;
	margin: 0 auto;
	top: 0.75em;
	right: 1em;
	text-align: center;
	padding: .5em;
	width: 10em;
	background-color: #d9d9d9;
	border-radius: .25em;
	box-shadow: 1px 5px 15px -5px #000;
}

.tag-manager-options div {
	display: block;
	margin: 1em auto;	
	padding: .25em;
}

.tag-manager-form form {
	position: relative;
	margin: 1em auto;
	top: 6em;
	padding: 1em;	
	width: 75%;
	max-width: 20em;
	background-color: #d9d9d9;
	text-align: center;
	box-shadow: 1px 5px 15px -5px #000;
	border-radius: .2em;
}

.tag-manager-options-title {
	font-size: 1.3em;
	font-family: 'Open Sans';
	color: #25B972;
}

.tag-manager-form form input {
	position: relative;
	width: 100%;
	font-size: 1.25em;
	z-index: 2;
}

.tag-manager-form .submit {
	margin: .25em auto;
	width: 60%;
}

.rename {
	position: relative;
	font-size: .75em;
	color: white;
	background-color: #25B972;
	-webkit-box-shadow: 0px 6px 0px #1d8f58;
	-moz-box-shadow: 0px 6px 0px #1d8f58;
	box-shadow: 0px 6px 0px #1d8f58;
	border-radius: .25em;
}

.rename:hover {
	cursor: pointer;
	background-color: #1d8f58;
	-webkit-box-shadow: 0px 6px 0px #14653e;
	-moz-box-shadow: 0px 6px 0px #14653e;
	box-shadow: 0px 6px 0px #14653e;
}

.rename:active {
	top: 4px;
	background-color: #498FBD;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.delete {
	position: relative;
	font-size: .75em;
	border-radius: .2em;
	background-color: #ff6767;
	border: none;
	color: white;
	-webkit-box-shadow: 0px 6px 0px #ff4e4e;
	-moz-box-shadow: 0px 6px 0px #ff4e4e;
	box-shadow: 0px 6px 0px #ff4e4e;
}

.delete:hover {
	cursor: pointer;
	background-color: #ff1b1b;
	-webkit-box-shadow: 0px 6px 0px #e70000;
	-moz-box-shadow: 0px 6px 0px #e70000;
	box-shadow: 0px 6px 0px #e70000;
}