body {
	background-color: #F2F2F2;
	color: #4d4d4d;
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
}

hr {
	background-color: #498FBD;
	border: 0;
	height: .25em;
}

.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.selected {	
	border-bottom: .25em solid #498FBD !important;
}

/* Home Page Styles *********************************************************/
.container {
	padding: 1em;
}

#logo {
	text-align: center;
	font-size: 4em;
	font-family: 'Questrial', sans-serif;
	letter-spacing: .25em;
	border-bottom: .15em solid #99d0e0;
}

#home-links {
	margin: 0 auto;
	width: 30em;
	text-align: center;
}

#home-links a {
	margin: 1em;
	font-size: 1.5em;
	border-bottom: .15em solid #6BB0C4;
	color: #6BB0C4;
}

#home-links a:hover {
	color: #2b5d6b;
	border-bottom: .15em solid #2b5d6b;
	font-size: 1.75em;
}

.message {
	text-align: center;
}

form {
	overflow: hidden;
}

input {
	display: block;
	margin: .5em 0;
	padding: .25em;
	border: .1em solid #70DAA7;
	font-family: 'Quicksand', sans-serif;
	border-radius: .25em;
}

label {
	display: block;
	margin-left: 1em;
	margin-bottom: -.75em;
}

.gif-form {
	position: relative;
}

.gif-form input {
	margin: .75em auto;
	width: 90%;
}

.gif-form-title {
	position: relative;
	margin: 1em 0;
	font-size: 1.2em;	
	color: #25B972;
	border-bottom: .1em solid #25b972;
}

.gif-form-title div {
	position: absolute;
	padding: 0 .25em;
	z-index: 2;
	top: -.65em;
	background-color: #e6e6e6;
}

.helptext {
	margin-left: 1em;
}

.submit {	
	position: relative;
	background-color: #498FBD;
	padding: .25em;
	color: white;
	border: none;
	font-size: 1em;
	border-radius: .2em;
	-webkit-box-shadow: 0px 6px 0px #38749b;
	-moz-box-shadow: 0px 6px 0px #38749b;
	box-shadow: 0px 6px 0px #38749b;
}

.submit:active {
	top: 7px;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.submit:hover {
	cursor: pointer;
	background-color: #72ADD3;
	-webkit-box-shadow: 0px 6px 0px #4990bd;
	-moz-box-shadow: 0px 6px 0px #4990bd;
	box-shadow: 0px 6px 0px #4990bd;

}

.warning {
	background-color: #ff6767 !important;
	color: white;
}

.warning i {
	color: #ff1b1b !important;
}

.warning {
	-webkit-box-shadow: 0px 6px 0px #ff4e4e !important;
	-moz-box-shadow: 0px 6px 0px #ff4e4e !important;
	box-shadow: 0px 6px 0px #ff4e4e !important;
}

.warning:hover {
	background-color: #ff3535 !important;
	-moz-box-shadow: 0px 6px 0px #ff0202;
	box-shadow: 0px 6px 0px #ff0202;
}

.warning:active {
	-webkit-box-shadow: 0px 2px 0px #ff3535;
	-moz-box-shadow: 0px 2px 0px #ff3535;
	box-shadow: 0px 2px 0px #ff3535;
}

.cancel {
	margin: .25em auto;
	width: 83%;
	padding: .25em;
	text-align: center;
	font-size: .8em;
}

.hidden {
	display: none !important;
}

/* Profile View Styles *********************************************************/
.add-gif-form-button {
	position: relative;
	padding: .3em .75em;
	width: 10em;
	left: 1.5em;
	top: -.75em;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.2em;
	background-color: #25B972;
	color: white;
	border-radius: .2em;
	-webkit-box-shadow: 0px 6px 0px #1d8f58;
	-moz-box-shadow: 0px 6px 0px #1d8f58;
	box-shadow: 0px 6px 0px #1d8f58; 
}

.add-gif-form-button:hover {
	cursor: pointer;
	background-color: #1d8f58;
	-webkit-box-shadow: 0px 6px 0px #14653e;
	-moz-box-shadow: 0px 6px 0px #14653e;
	box-shadow: 0px 6px 0px #14653e;
}

.add-gif-form-button:active {
	top: 7px;
	background-color: #498FBD;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.gif-grid {
	margin: .25em;
	padding: .25em;
}

.tag-group {
	display: inline-block;
	position: relative;
	margin: 1em;
	padding: 1em;
	border: .15em solid #25B972;
	border-radius: 1em;
}

.tag-title {
	position: absolute;
	padding: 0 .25em;
	top: -.75em;
	background-color: #f2f2f2;
	font-size: 1.25em;
	color: #25B972;
}

.gif-grid p {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
}

.gif-grid i {
	margin: 0;
	display: inline-block;
	font-size: 1.25em;
}

.edit-icon {
	display: inline-block;
	position: absolute;
	top: 5.75em;
	left: .75em;
	width: 3em;
	color: #7ae4b1;
	text-shadow: 1px 1px 3px #000;
}

.edit-icon:hover {
	cursor: pointer;
	color: #7ae4b1;
}

.edit-icon-desc {	
	display: inline-block;
	position: relative;
	bottom: .2em;
}

.delete-icon {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	color: #ff6767 !important;
	text-shadow: 1px 1px 3px #000;
}

.delete-icon:hover {
	cursor: pointer;
	color: #ff3434 !important;
}

.gif-grid-element {	
	position: relative;
	display: inline-block;
	margin-top: .25em;
	padding: .5em;
	width: 10em;
	min-height: 8em;
	background-color: #e6e6e6;
	box-shadow: 1px 5px 15px -5px #000;
	border-radius: 1em;
}

.gif-grid-element:hover {
	z-index: 2;
	-ms-transform: scale(1.1);
	-ms-webkit: scale(1.1);
	transform: scale(1.1);
}

.gif-grid-element:active {	
	top: 7px;
}

.focused {
	background-color: #d9d9d9 !important;
	z-index: 2;
	-ms-transform: scale(1.1);
	-ms-webkit: scale(1.1);
	transform: scale(1.1);
}

.img-wrapper {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 150px;	
	box-shadow: 1px 5px 15px -5px #000;
}

.img-wrapper img {
	width: 100%;
	min-height: 100px;
	max-height: 100px;
}

.gif-grid-thumbnail {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: inherit;
	box-shadow: 1px 5px 15px -5px #000;
}

.gif-date {
	margin-top: 13.5em !important;
	font-size: .6em !important;
}

.tags {
	position: relative;
	margin: 1.5em auto;
}

.tags i {
	display: inline-block;
	color: #498FBD;
	font-size: 1em;
}

.delete-tag:hover {
	color: #ff6767 !important;
}

.tag {
	display: inline-block;	
	margin: .3em;
	padding: .35em;
	background-color: #72ADD3;
	color: white;	
	-webkit-box-shadow: 0px 6px 0px #4b96c7;
	-moz-box-shadow: 0px 6px 0px #4b96c7;
	box-shadow: 0px 6px 0px #4b96c7;
	border-radius: 1em 1em 0 1em;
}

.tag i:hover {
	cursor: pointer;
}

.tag-name {
	display: inline-block;
}

.add-tags {
	margin: .75em auto;	
	text-align: center;
}

.add-tags input {	
	display: inline-block;
	width: 80%;
}

.add-tags i {
	display: inline-block;
	color: #70DAA7;
}

.add-tags-title {
	display: inline-block;
	position: relative;
	margin: .5em;
	padding: .3em .75em;
	background-color: #25B972;
	color: white;
	border-radius: .2em;
	-webkit-box-shadow: 0px 6px 0px #1d8f58;
	-moz-box-shadow: 0px 6px 0px #1d8f58;
	box-shadow: 0px 6px 0px #1d8f58;
}

.add-tags-title:hover {
	cursor: pointer;
	background-color: #1d8f58;
	-webkit-box-shadow: 0px 6px 0px #14653e;
	-moz-box-shadow: 0px 6px 0px #14653e;
	box-shadow: 0px 6px 0px #14653e;
}

.add-tags-title:hover > i, .add-tags-title:active > i {
	color: #14653e;
}

.add-tags-title:active, .add-tags-selected {
	top: 7px;
	background-color: #498FBD;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.add-tags-selected i {
	color: #38749b;
}

.add-tags-selected:hover {
	cursor: pointer;
	background-color: #3f82ae;
	-webkit-box-shadow: 0px 2px 0px #38749b;
	-moz-box-shadow: 0px 2px 0px #38749b;
	box-shadow: 0px 2px 0px #38749b;
}

.add-tags-selected:hover > i {
	color: #38749b;
}

.add-tag-field {	
	position: relative;
	top: .12em;
	width: 60% !important;
	height: 2.15em;
}

.add-tag-submit {
	display: inline-block;
	position: relative;
	margin: .25em;
	background-color: #72ADD3;
	color: white;
	padding: 0.45em;
	font-size: .75em;
	-webkit-box-shadow: 0px 3px 0px #38749b;
	-moz-box-shadow: 0px 3px 0px #38749b;
	box-shadow: 0px 3px 0px #38749b;
	border-radius: .2em;
}

.add-tag-submit:hover {
	cursor: pointer;
	background-color: #38749b;
	-webkit-box-shadow: 0px 3px 0px #2a5876;
	-moz-box-shadow: 0px 3px 0px #2a5876;
	box-shadow: 0px 3px 0px #2a5876;
}

.add-tag-submit:active {
	top: 7px;
	-webkit-box-shadow: 0px 1px 0px #2a5876;
	-moz-box-shadow: 0px 1px 0px #2a5876;
	box-shadow: 0px 1px 0px #2a5876;
}

.tags-to-be-added {
	margin: 1em auto;
	margin-bottom: 0;
	border: .1em solid #72ADD3;
	border-radius: .2em;
}

.tags-to-be-added-title {
	padding: .2em;
	background-color: #72ADD3;
	color: white;
}

.tag-to-be-added {
	display: block;
	margin: .25em;	
}

.tag-to-be-added i {
	color: #72ADD3;
}

.tag-to-be-added i:hover {
	cursor: pointer;
}

.tag-to-be-added div {
	display: inline-block;
	margin-left: .25em;
}

/* Tag Manager *****************************************************************/
#tag-manager {
	margin: 0 auto;
	width: 90%;
}

.tag-manager-tag {
	display: inline-block;
	margin: 1em;
	min-width: 1em;
	border: .1em solid #25B972;
	border-radius: .75em;
}

.tag-manager-tag-title {
	padding-left: .5em;
	background-color: #25B972;
	color: white;
	border-radius: .6em .6em 0 0;
}

.tag-manager-tag-options {
	text-align: center;
	padding: .5em;
}

.tag-manager-tag-options div {
	display: inline-block;
	margin: .1em;	
	padding: .25em;
	border-bottom: .25em solid #F2F2F2;
}

.tag-manager-tag-options div:hover {
	cursor: pointer;
	border-bottom: .25em solid #498FBD;
}

.tag-manager-tag-options .rename {

}

.tag-manager-tag-options .delete {

}

.tag-manager-form form {
	margin: 1em auto;
	text-align: center;
}

.tag-manager-form .submit {
	margin: .25em auto;
}

.delete-tag-form div {
	display: inline-block;
	padding: .25em;
	background-color: #99d0e0;
	color: white;
}

.delete-tag-form div:hover {
	cursor: pointer;
	background-color: #2b5d6b;
}