{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- Profile Info -->
    <div class="profile-info animate">
        <div class="profile-avatar">
            {% if element == 'img' %}
                <img src="{{ avatar }}">
            {% elif element == 'video' %}
                <video src="{{ avatar }}" autoplay loop></video>
            {% endif %}
        </div>

        <div class="profile-name">{{ name }}</div>

        <div class="profile-stats">
            <div id="tag-nav" class="stat">
                <div class="stat-number">{{ tag_number }}</div>
                <div class="stat-desc">tags</div>
            </div>

            <div class="stat">
                <div class="stat-number">{{ gif_number }}</div>
                <div class="stat-desc">GIFs</div>
            </div>
        </div>

        {% if can_edit %}
        <a href="/u/{{ username }}/edit-profile"><div class="btn blue-btn">Edit</div></a>
        {% endif %}
    </div>
    <br>
    <!-- Profile Navbar -->
    {% if gifs or can_edit %}
    {% if logged_in %}
    <div class="inner-nav animate-opacity" style="max-width: 37em;">
    {% else %}
    <div class="inner-nav animate-opacity" style="max-width: 22em;">
    {% endif %}
        <!-- Tag Nav -->
        {% if tags %}
        <div class="inner-nav-tags btn inner-nav-btn purple-btn">
            Tags
            <div class="inner-tag-nav hidden">
                {% for tag in tags %}
                <a href="#{{ tag }}"><div class="tag">{{ tag }}</div></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- Add GIF button -->
        {% if can_edit %}
        <div class="add-gif-form-button inner-nav-btn btn green-btn">
            Add GIF
        </div>
        {% endif %}
        <div class="gifgrabber-btn btn inner-nav-btn red-btn">
            Gif<div class="lobster" style="color: white;">Grabber</div>
        </div>
        <!-- Bulk Tasks -->
        {% if gifs %}
        {% if can_edit %}
        <div class="bulk-gif-button inner-nav-btn btn blue-btn">Bulk Tasks</div>

        <div id="bulk-operations" class="hidden">
            <div id="bulk-delete-btn" class="btn bulk-btn red-btn">Delete GIFs</div>
            <div id="bulk-remove-tags-btn" class="btn bulk-btn blue-btn">Remove Tags</div>
            <div id="bulk-add-tags-btn" class="btn bulk-btn green-btn">Add Tags</div>

            <div id="bulk-operations-delete" class="bulk-option hidden">
                <p>Delete GIFs</p>
                <form action="{% url 'users:bulk-delete' %}" method="post">
                    {% csrf_token %}
                    <input class="bulk-values hidden" type="text" value="0" name='bulk_values' placeholder="GIF IDs">
                    <input type="text" value="{{ user_id }}" name="user_id" class="hidden">
                    <input type="submit" class="submit btn red-btn" value="Delete">
                    <div class="label bulk-delete-label">This cannot be undone</div>
                </form>
            </div>

            <div id="bulk-operations-add-tags" class="bulk-option hidden">
                <p>Add Tags to GIFs</p>
                <form action="{% url 'users:bulk-add-tags' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name='tags' placeholder="Comma Separated Tags">
                    <input class="bulk-values hidden" type="text" value="0" name='bulk_values' placeholder="GIF IDs">
                    <input type="text" value="{{ user_id }}" name="user_id" class="hidden">
                    <input type="submit" class="submit btn blue-btn" value="Submit">
                </form>
            </div>

            <div id="bulk-operations-remove-tags" class="bulk-option hidden">
                <p>Remove Tags From GIFs</p>
                <form action="{% url 'users:bulk-remove-tags' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name='tags' placeholder="Comma Separated Tags">
                    <input class="bulk-values hidden" type="text" value="0" name='bulk_values' placeholder="GIF IDs">
                    <input type="text" value="{{ user_id }}" name="user_id" class="hidden">
                    <input type="submit" class="submit btn blue-btn" value="Submit">
                </form>
            </div>
        </div>
        {% endif %}
        {% if tags %}
        <!-- Tag Sort -->
        <div class="sort btn inner-nav-btn peach-btn">Sort Tags
            <div class="sort-options hidden">
                <div class="tag-sort-title btn green-btn">Title</div>
                <div class="tag-sort-date btn blue-btn">Date</div>
                <div class="tag-sort-random btn purple-btn">Randomize</div>
            </div>
        </div>
        {% endif %}
        <!-- Settings / Extra Options -->
        <div class="nav-settings-icon animate-fast">
            <i class="fa fa-cog"></i>
            <div class="nav-settings hidden">
                <a class="top" href="#top" style="color: white;">
                <div class="nav-setting-icon animate-fast">
                    <i class="fa fa-arrow-circle-up"></i>
                    <div class="label">Top</div>
                </div>
                </a>

                <div class="nav-setting-icon color-btn animate-fast">
                    <i class="fa fa-paint-brush"></i>
                    <div class="label">Colors</div>
                </div>

                <div class="tag-group-refresh nav-setting-icon animate-fast">
                    <i class="fa fa-refresh"></i><div class="label">Grid</div>
                </div>

                <div class="validate-btn nav-setting-icon animate-fast">
                    <i class="fa fa-check-circle"></i><div class="label">Validate</div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% if can_edit %}
    <div class="add-gif-form hidden">
        <form class="main-form animate" action="{% url 'users:add-gif' %}" method="post">
            <h1 class="title">Add a GIF</h1>
            {% csrf_token %}
            {{ add_form }}
            <input id="add-gif-submit" type="submit" value="Add GIF" class="btn green-btn">
        </form>
    </div>
    {% endif %}
    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}
    {% if gifs %}
    <!-- Beginning of GIF Grids -->
    <div id="grids">
        <!-- Tagged GIFs Grid -->
        <div id="tagged-gif-grid" class="gif-grid">
            {% for entry in tagged_gifs %}
            <div class="tag-group animate-opacity animate-bg">
                <a class="anchor" name="{{ entry.0 }}"></a>
                <div class="tag-title animate-bg">{{ entry.0 }}</div>
                <div class="gif-count animate-fast">{{ entry.2 }}</div>
                <i class="fa fa-cog tag-settings-icon animate-fast"></i>
                <!-- Tag Manager -->
                <div class="tag-manager hidden">
                    <div class="tag-manager-options">
                        <div class="tag-title tag-manager-title animate-bg">Tag Options</div>
                        {% if can_edit %}
                        <div class="tag-manager-section" style="margin-top: 1.25em;">
                            <div class="tag-manager-section-title tasks-title animate">Tasks</div>
                            <div class="rename btn green-btn">Rename</div>
                            <div class="delete btn red-btn">Delete</div>
                        </div>
                        {% endif %}
                        <div class="tag-manager-section display-section">
                            <div class="tag-manager-section-title display-title animate">Display</div>
                            <div class="party-mode-icon animate">
                                <img src="/static/img/disco_kid.gif">
                                <div class="party-mode-icon-text animate">Party Mode</div>
                            </div>
                            <i class="display-grid-icon fa fa-th-large animate-fast"></i>
                        </div>

                        <div class="tag-manager-section" style="margin-bottom: .05em;">
                            <div class="tag-manager-section-title tasks-title animate">Sort</div>
                            <div class="tag-sort-options">
                                <div class="sort-label btn green-btn">Label</div>
                                <div class="sort-date btn blue-btn">Date</div>
                                <div class="sort-random btn purple-btn">Random</div>
                            </div>
                        </div>
                    </div>

                    <div class="tag-manager-form">
                        {% if can_edit %}
                        <form class="rename-tag-form hidden" action="{% url 'users:rename-tag' %}" method="post">
                            <div class="tag-manager-options-title">Rename Tag</div>
                            {% csrf_token %}
                            <input type="text" name="new_name" value="{{ entry.0 }}">
                            <input type="text" name="current_name" value="{{ entry.0 }}" class="hidden">
                            <input type="text" name="current_name" value="{{ entry.0 }}" class="hidden">
                            <input type="text" name="current_name" value="{{ entry.0 }}" class="hidden">
                            <input type="text" name="user_id" value="{{ user_id }}" class="hidden">
                            <input type="submit" class="btn blue-btn">
                        </form>

                        <form class="delete-tag-form hidden" action="{% url 'users:delete-tag' %}" method="post">
                            <div class="tag-manager-options-title">Delete Tag</div>
                            {% csrf_token %}
                            <input type="text" name="current_name" value="{{ entry.0 }}" class="hidden">
                            <input type="text" name="user_id" value="{{ user_id }}" class="hidden">
                            <input type="submit" class="btn red-btn" value="Delete">
                            <div class="label gif-grid-element-delete-label" style="text-align: center; left: 0;">This cannot be undone</div>
                        </form>
                        {% endif %}
                    </div>
                </div>

                {% for object in entry.1 %}
                <!-- Gif Grid Element -->
                <div class="gif-grid-element animate-bg-fast">
                    <div class="bulk-wrapper hidden">
                        <i class="fa fa-circle-o"></i>
                        <input type="text" value="{{ object.id }}" class="hidden">
                    </div>

                    <img class="gif-grid-thumbnail animate" src="{{ object.thumbnail.url }}">
                    <p class="gif-date hidden">{{ object.created }}</p>
                    <p class="gif-label">{{ object.label }}</p>
                    <i class="fa fa-link gif-grid-icon copy-url animate-fast"></i>
                    <i class="fa fa-expand gif-grid-icon gif-expand animate-fast"></i>
                    <input type="text" class="gif-url hidden" value="{{ object.url }}">
                    <input type="text" class="display-url hidden" value="{{ object.display_url }}">

                    {% if can_edit %}
                    <!-- Gif Edit Form -->
                    <div class="gif-form edit-form hidden">
                        <div class="gif-form delete-form">
                            <form action="{% url 'users:delete-gif' %}" method="post" class="delete-form">
                                {% csrf_token %}
                                <input type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID" class="hidden">
                                <input type="submit" value="Delete GIF" class="btn red-btn">
                                <div class="label gif-grid-element-delete-label">This cannot be undone</div>
                            </form>
                        </div>

                        <form action="{% url 'users:edit-gif' %}" method="post" class="edit-form">
                            {% csrf_token %}
                            <div class="gif-form-section">
                                <div class="gif-form-title" style="left: .5em;">label</div>
                                <input class="gif-label-field" type="text" name="label" value="{{ object.label }}" placeholder="Label">
                            </div>

                            <div class="tags gif-form-section">
                                <div class="gif-form-title" style="right: .5em;">tags</div>
                                {% for tag in object.tags.all %}
                                <div class="tag">
                                    <div class="tag-name">{{ tag.name }}</div>
                                    <i class="fa fa-trash-o delete-tag"></i>
                                    <input class="remove-tag-input hidden" type="text" value=" ">
                                </div>
                                {% endfor %}

                                <div class="add-tags">
                                    <div class="tags-to-be-added hidden">
                                        <div class="tags-to-be-added-title">Tags to be Added</div>
                                    </div>

                                    <div class="add-tags-title btn green-btn">
                                        <i class="fa fa-tag"></i>
                                        Add Tags
                                        <input type="text" value="0" class="add-tags-input hidden">
                                    </div>
                                </div>

                                <input class="add-tags-values hidden" type="text" name="tags_to_add" value="">
                                <input class="remove-tags-values hidden" type="text" name="tags_to_remove" value="">
                                <input class="gif-id-field hidden" type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID">
                            </div>

                            <input type="submit" value="Apply" class="edit-gif-submit btn blue-btn">
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <!--All GIFs Grid-->
        <div id="all-gif-grid" class="gif-grid">
            <div class="tag-group animate-opacity animate-bg">
                <div class="tag-title">all GIFs</div>
                <div class="gif-count animate-fast">{{ gif_number }}</div>
                <i class="fa fa-cog tag-settings-icon animate-fast"></i>
                <div class="tag-manager hidden">
                    <div class="tag-manager-options">
                        <div class="tag-title tag-manager-title animate-bg">Options</div>
                        <div class="tag-manager-section display-section" style="margin-bottom: .05em;">
                            <div class="tag-manager-section-title display-title animate">Display</div>
                            <div class="party-mode-icon animate">
                                <img src="/static/img/disco_kid.gif">
                                <div class="party-mode-icon-text animate">Party Mode</div>
                            </div>
                            <i class="display-grid-icon fa fa-th-large animate-fast"></i>
                        </div>

                        <div class="tag-manager-section" style="margin-bottom: .05em;">
                            <div class="tag-manager-section-title tasks-title">Sort</div>
                            <div class="tag-sort-options">
                                <div class="sort-label btn green-btn">Label</div>
                                <div class="sort-date btn blue-btn">Date</div>
                                <div class="sort-random btn purple-btn">Random</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- GIF Grid Element -->
                {% for object in gifs %}
                <div class="gif-grid-element animate-bg-fast">
                    <div class="bulk-wrapper hidden">
                        <i class="fa fa-circle-o"></i>
                        <input type="text" value="{{ object.id }}" class="hidden">
                    </div>
                    <!-- Thumbnail / Hidden URL -->
                    <img class="gif-grid-thumbnail animate" src="{{object.thumbnail.url}}">
                    <p class="gif-label">{{ object.label }}</p>
                    <i class="fa fa-link gif-grid-icon copy-url animate-fast"></i>
                    <i class="fa fa-expand gif-grid-icon gif-expand animate-fast"></i>
                    <input type="text" class="gif-url hidden" value="{{ object.url }}">
                    <input type="text" class="display-url hidden" value="{{ object.display_url }}">
                    {% if can_edit %}
                    <!-- Delete Button -->
                    <div class="gif-form edit-form hidden">
                        <div class="gif-form delete-form">
                            <form action="{% url 'users:delete-gif' %}" method="post" class="delete-form">
                                {% csrf_token %}
                                <input type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID" class="hidden">
                                <input type="submit" value="Delete GIF" class="btn red-btn">
                                <div class="label gif-grid-element-delete-label">This cannot be undone</div>
                            </form>
                        </div>
                        <form action="{% url 'users:edit-gif' %}" method="post" class="edit-form">
                            <!-- GIF Label -->
                            {% csrf_token %}
                            <div class="gif-form-section">
                                <div class="gif-form-title" style="left: .5em;">label</div>
                                <input class="gif-label-field" type="text" name="label" value="{{ object.label }}" placeholder="Label">
                            </div>
                            <!-- Tags -->
                            <div class="tags gif-form-section">
                                <div class="gif-form-title" style="right: .5em;">tags</div>
                                {% for tag in object.tags.all %}
                                <div class="tag">
                                    <div class="tag-name">{{ tag.name }}</div>
                                    <i class="fa fa-trash-o delete-tag"></i>
                                    <input class="remove-tag-input hidden" type="text" value=" ">
                                </div>
                                {% endfor %}
                                <div class="add-tags">
                                    <div class="tags-to-be-added hidden">
                                        <div class="tags-to-be-added-title">Tags to be Added</div>
                                    </div>
                                    <div class="add-tags-title btn green-btn">
                                        <i class="fa fa-tag"></i>
                                        Add Tags
                                        <input type="text" value="0" class="add-tags-input hidden">
                                    </div>
                                </div>
                                <input class="add-tags-values hidden" type="text" name="tags_to_add" value="">
                                <input class="remove-tags-values hidden" type="text" name="tags_to_remove" value="">
                                <input class="gif-id-field hidden" type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID">
                            </div>
                            <input type="submit" value="Apply" class="edit-gif-submit btn blue-btn">
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        {% if can_edit %}
        <div class="welcome-msg">Welcome to your GifCache!</div>
        {% else %}
        <div class="welcome-msg">{{ name }} hasn't added any GIFs yet</div>
        {% endif %}
    {% endif %}
    <!-- GifGrabber -->
    <div class="gifgrabber-form-wrapper hidden">
        <div class="gifgrabber-container main-form animate">
            <div class="grabber-lightbox hidden"></div>
            <div class="gifgrabber-title"><div style="font-family: 'PT Sans';">GIF</div>Grabber</div>
            <div class="gifgrabber-title-blurb">Grab GIFs directly from reddit</div>
            <div id="grabber-error" class="message hidden"></div>

            <form class="gifgrabber-form">
                <input class="main-field subreddit-field animate" type="text" name="subreddit" maxlength="40" placeholder="/r/">
                <div class="label">Subreddit</div>
                <select class="sort-field animate">
                    <option value="hot">Hot</option>
                    <option value="new">New</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="all">All</option>
                </select>
                <div class="label">Submission Sort</div>
                <input type="submit" value="Grab GIFs" class="btn green-btn gifgrabber-submit">
            </form>

            <div class="gifgrabber-results animate hidden">
                <div class="grabber-new-search btn blue-btn">New Search</div>
                <div class="grabber-selected-gifs pulse hidden">
                    <div class="selected-gifs-number animate"></div>
                    <div class="selected-gifs-blurb">GIFs Selected</div>
                </div>
                <div class="grabber-data-container"></div>
                <form id="grabber-add-form" action="{% url 'users:bulk-add-gifs' %}" method="post" class="hidden">
                    {% csrf_token %}
                    <input id="gifgrabber-values" name="values" type="text" class="hidden">
                    <input type="text" value="{{ user_id }}" name="user_id" class="hidden">
                    {% if can_edit %}
                    <input type="submit" class="btn green-btn grabber-add-gifs-btn" value="Add Gifs">
                    {% else %}
                    <input type="submit" class="btn green-btn inactive-grabber-add-gifs-btn" value="Log In to Add GIFs!">
                    {% endif %}
                    <div class="holder"></div>
                </form>
                <div id="grabber-results" class="grabber-results-grid"></div>
            </div>
        </div>
    </div>
    <!-- Gif Validator -->
    <div class="validation-wrapper hidden">
        <div class="validation-container main-form animate">
            <form id="validation-form" method="post" action="{% url 'users:bulk-delete' %}">
                {% csrf_token %}
                <input type="text" name="user_id" value="{{ user_id }}" class="hidden">
                <input type="text" name="username" value="{{ username }}" class="hidden">
                <input id="validation-values" type="text" name="bulk_values" value="" class="hidden">
                {% if can_edit %}
                <input type="submit" id="validate-submit" class="btn red-btn validation-submit hidden" value="Delete Selected GIFs">
                {% else %}
                <div class="btn red-btn validation-submit inactive-grabber-add-gifs-btn">Please Log In</div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}