{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <title>GifCache</title>
    </head>

    <body>

    <div class="nav">
        <div class="nav-logo">
            <div id="gif" class="nav-logo-title">GIF</div>

            <div class="nav-logo-img"><img src="http://i.imgur.com/SpaPReR.gif"></div>

            <div id="cache" class="nav-logo-title">Cache</div>
        </div>

        <div class="nav-links">
            <a href="{% url 'home:home' %}">HOME</a>
            {% if logged_in %}
            <div class="profile-nav-link">PROFILE
                <div class="profile-nav-extra">
                    <a href="/u/{{ username }}">{{ username }}</a>
                    <a href="/u/{{ username }}/edit-profile">EDIT</a>
                    <a href="{% url 'home:logout' %}">LOGOUT</a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'home:signup' %}">SIGNUP</a>

            <a href="{% url 'home:login' %}">LOGIN</a>
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <!-- JavaScripts -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="{% static '/static/js/packery-mode.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/main.js' %}"></script>
    </body>
</html>