{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cabin:600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        {% if title %}
        <title>{{ title }} - GifCache</title>
        {% else %}
        <title>GifCache</title>
        {% endif %}
    </head>

    <body>

    <div class="wrapper">
        {% if title == 'Home' %}
        <div class="nav hidden">
        {% else %}
        <div class="nav">
        {% endif %}
            <div class="nav-logo">
                <div id="gif" class="nav-logo-title">GIF</div>
                <div class="nav-logo-img"><img src="http://i.imgur.com/SpaPReR.gif"></div>
                <div id="cache" class="nav-logo-title">Cache</div>
            </div>

            <div class="nav-links">
                <a href="{% url 'home:home' %}" class="animate-fast">HOME</a>
                {% if logged_in %}
                <div class="profile-nav-link animate-fast">PROFILE
                    <div class="profile-nav-extra">
                        <a href="/u/{{ username }}" class="animate-fast">My Profile</a>
                        <a href="{% url 'home:logout' %}" class="animate-fast">Logout</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'home:signup' %}" class="animate-fast">SIGNUP</a>
                <a href="{% url 'home:login' %}" class="animate-fast">LOGIN</a>
                {% endif %}
            </div>
        </div>
        {% block content %}{% endblock %}
        <div class="push"></div>
    </div>

    <div class="footer">
        <a href="{% url 'home:home' %}">
            <div class="footer-logo">
                <div class="footer-gif">GIF</div>
                <div class="footer-cache">Cache</div>
            </div>
        </a>

        <div class="footer-problems">
            <p>Problems? Feedback?</p>
            <div>
                <i class="fa fa-paper-plane"></i>
                <a href="mailto:tylerkershner@gmail.com">Contact Me</a>
            </div>
        </div>

        <div class="footer-nav-links">
            {% if logged_in %}
            <a href="/u/{{ username }}">My Profile</a>
            <a href="{% url 'home:logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'home:signup' %}">SIGNUP</a>
            <a href="{% url 'home:login' %}">LOGIN</a>
            {% endif %}
        </div>
    </div>

    <!-- JavaScripts -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="{% static '/static/js/packery-mode.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/main.js' %}"></script>
    {% if title == 'Login' or title == 'Signup' or title == 'Edit Profile' %}
    <script type="text/javascript">
        colorMainForm();
    </script>
    {% endif %}
    </body>
</html>