{% extends 'base.html' %}
{% block content %}

<div class="home-section animate-bg" style="height: 100vh; padding-top: 2em;">
    <div id="main-logo">
        <div class="main-logo-gif transparent pulse animate">GIF</div>
        <div class="main-logo-img grow"><img src="/static/img/{{ random_gif }}.gif"></div>
        <div class="main-logo-cache transparent pulse animate">Cache</div>
    </div>

    <div class="slogan transparent animate">Store, organize, and display your favorite GIFs</div>

    <div class="home-links-wrapper animate transparent">
        <div id="home-links" class="animate">
            <a href="{% url 'registration_register' %}"><div class="home-btn animate-fast">Sign Up</div></a>
            <a href="{% url 'home:login' %}"><div class="home-btn animate-fast">Log In</div></a>
        </div>

        <i class="home-arrow fa fa-chevron-down levitate transparent animate"></i>
    </div>
</div>

<div class="home-section-grey">
    <div class="home-bs-title">What is GifCache?</div>

    <div class="startup-bs-box">
        <div class="startup-icon">
            <i class="fa fa-floppy-o"></i>
        </div>

        <div class="startup-bs-title">Store</div>

        <div class="startup-bs-blurb">Save gifs from the internet</div>

        <div class="startup-bs-img animate"><img src="/static/img/add-gif.png"></div>
    </div>

    <div class="startup-bs-box">
        <div class="startup-icon">
            <i class="fa fa-folder-open"></i>
        </div>

        <div class="startup-bs-title">Organize</div>

        <div class="startup-bs-blurb">Tag and sort your collection</div>

        <div class="startup-bs-img animate"><img src="/static/img/add-tags.png"></div>
    </div>

    <div class="startup-bs-box">
        <div class="startup-icon">
            <i class="fa fa-users"></i>
        </div>

        <div class="startup-bs-title">Share</div>

        <div class="startup-bs-blurb">Show off your cache!</div>

        <div class="startup-bs-img animate"><img src="/static/img/display.png"></div>
    </div>

    <div class="home-demo">
        <div class="home-demo-blurb">View my cache!</div>

        <a href="/u/kershner25"><div class="btn green-btn">u/kershner25</div></a>
    </div>
</div>

<div class="home-section animate-bg" style="padding-top: 2em; padding-bottom: 1em;">
    <div class="home-about">
        <div class="home-about-section">
            <div class="mini-logo">
                <div class="mini-logo-gif">GIF</div><div class="mini-logo-cache">Cache</div>
            </div>
            is a service to store and categorize GIF urls.
        </div>

        <div class="home-about-section">
            Ever had the perfect GIF in mind for an occasion, but couldn't remember the URL or where you saw it?
            GifCache is an easy way to keep track of those images so you'll never miss another opportunity to deploy
            the ideal reaction GIF or share some adorable puppies.
            <br><br>
            Using GifCache there is no need to save images to your hard drive or to keep an unorganized list of URLs
            in a text file somewhere.  Simply point your browser to your GifCache profile and your collection is immediately
            accessible.
        </div>

        <div class="home-about-section">
            A note on using GifCache - when viewing numerous GIFs bandwidth usage
            can easily hit hundreds of megabytes very quickly.
        </div>

        <div class="home-about-section">
            GifCache is written in Python and JavaScript utilizing the Django web framework.
            <a href="https://github.com/kershner/gifcache" class="code-link-wrapper animate">
                <div class="code-link animate">
                        <i class="fa fa-github"></i>
                        View the code!
                </div>
            </a>
        </div>
    </div>
</div>

<div class="home-section animate-bg" style="color: white;">
    <div class="home-whatsnew">
        <div class="home-whatsnew-title">What's New</div>

        <div class="home-whatsnew-version">v1.0</div>
        <div class="home-whatsnew-date">July 2015</div>

        <div class="home-whatsnew-notes">
            <div>- Site launched!</div>
            <div>- Added mp4, gfycat, webm, and gifv support</div>
            <div>- Added bulk GIF operations</div>
            <div>- Added GifGrabber - add GIFs directly from reddit</div>
            <div>- Added party mode for all tag groups</div>
            <div>- Chrome extension coming soon!</div>
        </div>
    </div>

    <div class="home-plug">
        <div class="home-plug-title">View more of my projects</div>
        <a href="http://www.kershner.org"><div class="home-plug-link animate">kershner.org</div></a>
    </div>
</div>
{% endblock %}