<!--{% extends 'home/base.html' %}-->
{% block content %}
    <div class="container">
        {% if can_edit %}
        <h1> Hello {{ name }}!</h1>
        {% else %}
        <h1>{{ name }}'s Profile</h1>
        {% endif %}

        {% if can_edit %}
        <div id="tag-manager">
            {% for tag in tags %}
            <div class="tag-manager-tag">
                <div class="tag-manager-tag-title">{{ tag }}</div>

                <div class="tag-manager-tag-options">
                    <div class="rename animate">Rename</div>
                    <div class="delete animate">Delete</div>
                </div>

                <div class="tag-manager-form">
                    <form class="rename-tag-form hidden" action="{% url 'useraccounts:rename-tag' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="new_name" value="{{ tag }}">
                        <input type="text" name="current_name" value="{{ tag }}" class="hidden">
                        <input type="text" name="user_id" value="{{ user_id }}" class="hidden">
                        <input type="submit" class="submit animate">
                    </form>

                    <form class="delete-tag-form hidden" action="{% url 'useraccounts:delete-tag' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="current_name" value="{{ tag }}" class="hidden">
                        <input type="text" name="user_id" value="{{ user_id }}" class="hidden">
                        <input type="submit" class="submit animate" value="Delete" style="display: inline-block;">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div id="tagged-gif-grid" class="gif-grid">
            {% for entry in tagged_gifs %}
            <div class="tag-group">
                <div class="tag-title">{{ entry.0 }}</div>
                {% for object in entry.1 %}
                    <div class="gif-grid-element animate">
                        <div class="img-wrapper">
                            <img src="{{ object.url }}">
                        </div>
                        <p>{{ object.label }}</p>
                        <p class="gif-date">Added: {{ object.created }}</p>

                        {% if can_edit %}
                        <i class="fa fa-pencil-square-o edit-icon animate"></i>
                        <i class="fa fa-times delete-icon animate"></i>

                        <div class="gif-form delete-form hidden">
                            <form action="{% url 'useraccounts:delete-gif' %}" method="post" class="delete-form">
                                {% csrf_token %}
                                <div class="gif-form-title">
                                    <div style="left: 1em;">delete GIF</div>
                                </div>

                                <input type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID" class="hidden">
                                <input type="submit" value="Delete GIF" class="submit warning animate">
                            </form>
                        </div>

                        <div class="gif-form edit-form hidden">
                            <form action="{% url 'useraccounts:edit-gif' %}" method="post" class="edit-form">
                                {% csrf_token %}
                                <div class="gif-form-title">
                                    <div style="left: 1em;">label</div>
                                </div>

                                <input type="text" name="label" value="{{ object.label }}" placeholder="Label">

                                <div class="tags">
                                    <div class="gif-form-title">
                                        <div style="right: 1em;">tags</div>
                                    </div>

                                    {% for tag in object.tags.all %}
                                    <div class="tag animate">
                                        <div class="tag-name">{{ tag.name }}</div>
                                        <i class="fa fa-trash-o delete-tag animate"></i>
                                        <input class="remove-tag-input hidden" type="text" value=" ">
                                    </div>
                                    {% endfor %}

                                    <div class="add-tags">
                                        <div class="add-tags-title animate">
                                            <i class="fa fa-tag animate"></i>
                                            Add Tags
                                            <input type="text" value="0" class="add-tags-input hidden">
                                        </div>

                                        <div class="tags-to-be-added hidden">
                                            <div class="tags-to-be-added-title">Tags to be Added</div>
                                        </div>
                                    </div>

                                    <input class="add-tags-values hidden" type="text" name="tags_to_add" value="">
                                    <input class="remove-tags-values hidden" type="text" name="tags_to_remove" value="none">
                                    <input class="hidden" type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID">
                                </div>

                                <input type="submit" value="Apply" class="submit animate">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <hr>

        <div id="all-gif-grid" class="gif-grid">
            <div>all GIFs</div>
            {% for object in gifs %}
            <div class="gif-grid-element">
                <div class="img-wrapper">
                    <img src="{{ object.thumbnail.url }}">
                </div>

                <p>{{ object.label }}</p>
                <p class="gif-date">Added: {{ object.created }}</p>

                {% if can_edit %}
                <i class="fa fa-pencil-square-o edit-icon animate"></i>
                <i class="fa fa-times delete-icon animate"></i>

                <div class="gif-form delete-form hidden">
                    <form action="{% url 'useraccounts:delete-gif' %}" method="post" class="delete-form">
                        {% csrf_token %}
                        <div class="gif-form-title">
                            <div style="left: 1em;">delete GIF</div>
                        </div>

                        <input type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID" class="hidden">
                        <input type="submit" value="Delete GIF" class="submit warning animate">
                    </form>
                </div>

                <div class="gif-form edit-form hidden">
                    <form action="{% url 'useraccounts:edit-gif' %}" method="post" class="edit-form">
                        {% csrf_token %}
                        <div class="gif-form-title">
                            <div style="left: 1em;">label</div>
                        </div>

                        <input type="text" name="label" value="{{ object.label }}" placeholder="Label">

                        <div class="tags">
                            <div class="gif-form-title">
                                <div style="right: 1em;">tags</div>
                            </div>

                            {% for tag in object.tags.all %}
                            <div class="tag animate">
                                <div class="tag-name">{{ tag.name }}</div>
                                <i class="fa fa-trash-o delete-tag animate"></i>
                                <input class="remove-tag-input hidden" type="text" value=" ">
                            </div>
                            {% endfor %}

                            <div class="add-tags">
                                <div class="add-tags-title animate">
                                    <i class="fa fa-tag animate"></i>
                                    Add Tags
                                    <input type="text" value="0" class="add-tags-input hidden">
                                </div>

                                <div class="tags-to-be-added hidden">
                                    <div class="tags-to-be-added-title">Tags to be Added</div>
                                </div>
                            </div>

                            <input class="add-tags-values hidden" type="text" name="tags_to_add" value="">
                            <input class="remove-tags-values hidden" type="text" name="tags_to_remove" value="none">
                            <input class="hidden" type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID">
                        </div>

                        <input type="submit" value="Apply" class="submit animate">
                    </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {% if can_edit %}
        <form action="{% url 'useraccounts:add-gif' %}" method="post">
            {% csrf_token %}
            {{ add_form }}
            <input type="submit" value="Add GIF" class="submit animate">
        </form>
        {% endif %}

        <a href="{% url 'useraccounts:logout' %}">Logout</a>
    </div>
{% endblock content %}