<!--{% extends 'home/base.html' %}-->
{% block content %}
    <div class="container">
        <div class="nav">
            <div class="nav-logo">
                <div id="gif" class="nav-logo-title">GIF</div>

                <div class="nav-logo-img"><img src="http://i.imgur.com/SpaPReR.gif"></div>

                <div id="locker" class="nav-logo-title">Locker</div>
            </div>

            <div class="nav-links">
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'signup' %}">SIGNUP</a>
                {% if logged_in %}
                <a href="{% url 'logout' %}">LOGOUT</a>
                {% else %}
                <a href="{% url 'login' %}">LOGIN</a>
                {% endif %}
            </div>
        </div>

        <div class="profile-info">
            <div class="profile-avatar">
                <img src="http://i.imgur.com/1Nd8pHV.gif">
            </div>

            <div class="profile-name">{{ name }}</div>

            <div class="profile-stats">
                <div class="stat">
                    <div class="stat-number">{{ tag_number }}</div>
                    <div class="stat-desc">tags</div>
                </div>

                <div class="stat">
                    <div class="stat-number">{{ gif_number }}</div>
                    <div class="stat-desc">GIFs</div>
                </div>
            </div>
        </div>

        {% if tags %}
        <div class="tag-nav">
            <p>Jump to a Tag</p>

            {% for tag in tags %}
                <a href="#{{ tag }}"><div class="tag">{{ tag }}</div></a>
            {% endfor %}
        </div>
        {% endif %}

        {% if can_edit %}
        <div class="add-gif-form-button">
            Add GIF
        </div>
        {% endif %}

        <div id="tagged-gif-grid" class="gif-grid">
            {% for entry in tagged_gifs %}
            <div class="tag-group">
                <div class="tag-title">{{ entry.0 }}</div>

                {% if can_edit %}
                <br>
                <br>

                <div class="tag-manager">
                    <div class="tag-manager-options">
                        <div class="rename">Rename</div>
                        <div class="delete">Delete</div>
                    </div>

                    <div class="tag-manager-form">
                        <form class="rename-tag-form hidden" action="{% url 'users:rename-tag' %}" method="post">
                            <div class="tag-manager-options-title">Rename Tag</div>

                            {% csrf_token %}
                            <input type="text" name="new_name" value="{{ entry.0 }}">
                            <input type="text" name="current_name" value="{{ entry.0 }}" class="hidden">
                            <input type="text" name="user_id" value="{{ user_id }}" class="hidden">
                            <input type="submit" class="submit">
                        </form>

                        <form class="delete-tag-form hidden" action="{% url 'users:delete-tag' %}" method="post">
                            <div class="tag-manager-options-title">Delete Tag</div>

                            {% csrf_token %}
                            <input type="text" name="current_name" value="{{ entry.0 }}" class="hidden">
                            <input type="text" name="user_id" value="{{ user_id }}" class="hidden">
                            <input type="submit" class="delete" value="Delete" style="display: inline-block;">
                        </form>
                    </div>
                </div>
                {% endif %}

                {% for object in entry.1 %}
                    <a name="{{ entry.0 }}"></a>

                    <div class="gif-grid-element animate">
                        <div class="gif-url hidden">{{ object.url }}</div>
                        <img class="gif-grid-thumbnail animate" src="{{ object.thumbnail.url }}">

                        <p class="gif-date">Added: {{ object.created }}</p>
                        <p class="gif-label">{{ object.label }}</p>

                        {% if can_edit %}
                        <i class="fa fa-times delete-icon animate"></i>

                        <div class="gif-form delete-form hidden">
                            <form action="{% url 'users:delete-gif' %}" method="post" class="delete-form">
                                {% csrf_token %}
                                <div class="gif-form-title">
                                    <div style="left: 1em;">delete GIF</div>
                                </div>

                                <input type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID" class="hidden">
                                <input type="submit" value="Delete GIF" class="submit warning">
                            </form>
                        </div>

                        <div class="gif-form edit-form hidden">
                            <form action="{% url 'users:edit-gif' %}" method="post" class="edit-form">
                                {% csrf_token %}
                                <div class="gif-form-title">
                                    <div style="left: 1em;">label</div>
                                </div>

                                <input class="gif-label-field" type="text" name="label" value="{{ object.label }}" placeholder="Label">

                                <div class="tags">
                                    <div class="gif-form-title">
                                        <div style="right: 1em;">tags</div>
                                    </div>

                                    {% for tag in object.tags.all %}
                                    <div class="tag">
                                        <div class="tag-name">{{ tag.name }}</div>
                                        <i class="fa fa-trash-o delete-tag"></i>
                                        <input class="remove-tag-input hidden" type="text" value=" ">
                                    </div>
                                    {% endfor %}

                                    <div class="add-tags">
                                        <div class="tags-to-be-added hidden">
                                            <div class="tags-to-be-added-title">Tags to be Added</div>
                                        </div>

                                        <div class="add-tags-title">
                                            <i class="fa fa-tag"></i>
                                            Add Tags
                                            <input type="text" value="0" class="add-tags-input hidden">
                                        </div>
                                    </div>

                                    <input class="add-tags-values hidden" type="text" name="tags_to_add" value="">
                                    <input class="remove-tags-values hidden" type="text" name="tags_to_remove" value="">
                                    <input class="gif-id-field hidden" type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID">
                                </div>

                                <input type="submit" value="Apply" class="edit-gif-submit submit">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div id="all-gif-grid" class="gif-grid">
            <div class="tag-group">
                <div class="tag-title">all GIFs</div>

                {% for object in gifs %}
                <div class="gif-grid-element animate">
                    <div class="gif-url hidden">{{ object.url }}</div>
                    <img class="gif-grid-thumbnail animate" src="{{object.thumbnail.url}}">
                    <p class="gif-label">{{ object.label }}</p>
                    <p class="gif-date">Added: {{ object.created }}</p>

                    {% if can_edit %}
                    <i class="fa fa-times delete-icon animate"></i>

                    <div class="gif-form delete-form hidden">
                        <form action="{% url 'users:delete-gif' %}" method="post" class="delete-form">
                            {% csrf_token %}
                            <div class="gif-form-title">
                                <div style="left: 1em;">delete GIF</div>
                            </div>

                            <input type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID" class="hidden">
                            <input type="submit" value="Delete GIF" class="submit warning">
                        </form>
                    </div>

                    <div class="gif-form edit-form hidden">
                        <form action="{% url 'users:edit-gif' %}" method="post" class="edit-form">
                            {% csrf_token %}
                            <div class="gif-form-title">
                                <div style="left: 1em;">label</div>
                            </div>

                            <input class="gif-label-field" type="text" name="label" value="{{ object.label }}" placeholder="Label">

                            <div class="tags">
                                <div class="gif-form-title">
                                    <div style="right: 1em;">tags</div>
                                </div>

                                {% for tag in object.tags.all %}
                                <div class="tag">
                                    <div class="tag-name">{{ tag.name }}</div>
                                    <i class="fa fa-trash-o delete-tag"></i>
                                    <input class="remove-tag-input hidden" type="text" value=" ">
                                </div>
                                {% endfor %}

                                <div class="add-tags">
                                    <div class="tags-to-be-added hidden">
                                        <div class="tags-to-be-added-title">Tags to be Added</div>
                                    </div>

                                    <div class="add-tags-title">
                                        <i class="fa fa-tag"></i>
                                        Add Tags
                                        <input type="text" value="0" class="add-tags-input hidden">
                                    </div>
                                </div>

                                <input class="add-tags-values hidden" type="text" name="tags_to_add" value="">
                                <input class="remove-tags-values hidden" type="text" name="tags_to_remove" value="">
                                <input class="gif-id-field hidden" type="text" name="gif_id" value="{{ object.id }}" placeholder="GIF ID">
                            </div>

                            <input type="submit" value="Apply" class="edit-gif-submit submit">
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% if can_edit %}
<div class="add-gif-form hidden">
    <form action="{% url 'users:add-gif' %}" method="post">
        <h1>Add a GIF</h1>

        {% csrf_token %}
        {{ add_form }}
        <input type="submit" value="Add GIF" class="submit">
        <div id="cancel-add">Cancel</div>
    </form>
</div>
{% endif %}
{% endblock content %}